
body{
          font-family: system-ui, system-ui, sans-serif;
         
}
h1{
          font-size:50px ;
}

.color-orange{
          color: orange;
} 
section{
          display: flex;
 } 
 .header{
           width: 100%;
           font-size:20px;
           padding-top: 15%;
           padding-left: 10%;
           padding-right: 10%;
          

          
 }
 .half-width img{       
      width:80%;
      
     

 }
 .link-button{
          text-decoration: none;
          background-image: linear-gradient(salmon , orange);
          padding: 10px 40px;
          color: white;
          font-weight: 700;
          border-radius: 10px;
 }